.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 10px 20px;
}

.category {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: rgb(84, 184, 167, 0.3);
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.category p {
  border: 1px solid rgb(72, 70, 70);
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}

@media (min-width: 800px) and (max-width: 1280px) {
  .category {
    width: 90%;
    height: 90%;
    padding: 30px;
  }
  .category img {
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .category p {
    font-size: 14px;
    width: 190px;
  }
}

@media (min-width: 400px) and (max-width: 800px) {

}
