header {
  display: flex;
  height: 70px;
  background-color: rgb(84, 184, 167, 0.5);
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(7px);
}

.left {
  display: flex;
  gap: 5px;
  flex-direction: row;
}

.left a {
  color: #000;
  text-decoration: none;
}

img {
  height: 40px;
  width: 40px;
}

.right {
  display: flex;
  justify-content: center;
  gap: 30px;
  text-align: center;
}

.right {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.right a {
  text-decoration: none;
}

.home, .search-nav, .back {
  border: none;
  border-radius: 5px;
  border: 1px solid rgb( 0, 0, 0);
  font-size: 18px;
  color: rgb( 0, 0, 0);
  padding: 5px 15px;
}
