.text-slide {
  width: 100%;
}

article {
  margin: 0px 200px;
  overflow: hidden;
  position: relative;
  min-height: 4em;
}

.text {
  white-space: nowrap;
  position: absolute;
  top: 2em;
  opacity: 0.4;
  text-transform: uppercase;
  width: 100%; 
}

.text {
  -webkit-animation: urmove 8s linear infinite;
  animation: urmove 8s linear infinite;
}

@-webkit-keyframes urmove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes urmove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
